/* Main styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.left-side-image {
    margin-left: -20px;
    margin-right: 20px;
    width: 100px;
    height: auto;
}

.right-side-image {
    margin-left: 10px;
    width: 50px;
    height: auto;
}

header, footer {
    background-color: #7289da;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
}

header section.header-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

header nav {
    display: flex;
    gap: 20px;
}

header img, footer img {
    height: 50px;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

main p {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
}

#desktop-menu ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#desktop-menu ul li {
    margin-right: 20px;
}

#desktop-menu ul li a {
    text-decoration: none;
    color: #000;
}

#menu-toggle {
    display: none;
    background: none;
    border: none;
    padding: 0;
}

#menu-toggle img {
    height: 40px;
    width: 40px;
}

.mobile-menu {
    display: none;
}

@media (max-width: 768px) {
    #menu-toggle {
        display: block;
    }

    #desktop-menu {
        display: none;
    }

    .mobile-menu {
        display: none;
    }

    .mobile-menu.show {
        display: block;
    }

    .mobile-menu ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .mobile-menu ul li {
        padding: 10px 0;
    }

    .mobile-menu ul li a {
        text-decoration: none;
        color: #000;
    }
}

.footer-section {
    flex: 1;
    display: flex;
    align-items: center;
}

.left {
    justify-content: flex-start;
}

.middle {
    justify-content: center;
    text-align: center;
}

.right {
    justify-content: flex-end;
    text-align: right;
}

.footer-section.right .copyright-container {
    display: flex;
    align-items: center;
}

.footer-section.right .copyright-container img {
    margin-right: 10px;
}

.footer-section.right .copyright-container p {
    margin: 0;
}

.header-logo {
    height: 80px;
    width: auto;
}
